/* attempt to use themes and module styles for Which Bake? app */
/* 'ReadyToMix' == beginner questions == yellow and white with blue: rgb(64, 56, 153); rgb(196, 222, 255); rgb(255, 225, 191); rgb(204, 162, 136)*/
/* 'OnTheRise' == intermediate questions == orange: rgb(127, 50, 28); rgb(255, 159, 132); rgb(255, 99, 55); rgb(127, 79, 66); rgb(204, 79, 44)*/
/* 'MasterBaker' == advanced questions == tans: rgb(127,73,12); rgb(255, 182, 100); rgb(255, 146, 24); rgb(127,100,70); rgb(204, 117, 19) */

/*********************************BEGIN TYPOGRAPHY****************************/
body {
	font-size: 1em;
	line-height: 1;
}
/*********************************END TYPOGRAPHY****************************/


/*debugging chocolate*/
div, ul, li {
	border: 1px solid chocolate;
}
/********************************BEGIN LAYOUT********************************/

body{
	margin: 0
}

.board{
	margin-left: 0;
	margin-right: 0;
	margin-top: 150px;
	height: 300px;
}

.theme-container{
	width: 500px;
	height: 440px;
	position: fixed;
	top: 80px;
	left: 8px;
	padding-bottom: 10px;
	z-index: 100;
}

.theme-picker{
	position: fixed;
	/*display: inline-block;*/
	z-index: 200;
	top: 20px;
	left: 8px;
	-webkit-padding-start: 0px;
}

.theme-picker li{
	display: inline-block;
	height: 45px;
	width: 75px;
}

.focus {
	width: 400px;
	height: 300px;
	margin: 15px auto;
}

.choices {
	-webkit-padding-start: 0px;
	margin: 0 auto;
	text-align: center;
}

.choices li {
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
}
/* TODO: change li's z-index to 'behind' theme-container if that module not selected */

.questions {
	position: relative;
	left: 500px;
	top: 0;
	display: inline-block;
	width: 100px;
	height: 100%;
	-webkit-margin-before:0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.questions li{
	width: 50px;
	/*height: 50px;*/
	list-style: none;
	padding: 0.25em 1em;
	cursor: pointer;
}

.restart {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	z-index: 200;
}
.score {
	position: fixed;
	display: inline-block;
	top: inherit;
	margin-top: 30px;
	right: 50px;
	width: 100px;
	height: 100px;
	z-index: 200;
}

/********************************END LAYOUT********************************/
/********************************BEGIN COLOR********************************/
/*monocolor for basic layout*/
body{
	background-color: #D7D7D7;
	color: #000000;
}

.board{
	/*background-color: #515151;*/
	background-image: url("styleimages/butcherblock.png");
	background-position: center;
	background-repeat: no-repeat;
}
.questions {
	/* tint scrollbar for IE*/
	/*scrollbar-base-color: rgba(13, 0, 106, 1);*/
	/*scrollbar-3dlight-color: rgba(13, 0, 106, 1);*/
	/*scrollbar-face-color: rgba(67, 120, 186, 1);*/
	/*scrollbar-highlight-color: rgba(13, 0, 106, 1);*/
	/*scrollbar-darkshadow-color: transparent;*/
	/*scrollbar-shadow-color: transparent;*/
	/*scrollbar-arrow-color: #fff;*/
	/*scrollbar-track-color: rgba(13, 0, 106, 1);*/
}
.fa-check-square-o {
	color: green;
}
.fa-times {
	color: red;
}

.restart{
	/*background-color: blue;*/
	color: blue;
}
.score {
	/*background-color: yellow;*/
	color: yellow;
}

.theme-picker{
	/*background-color: red;*/
	background-color: #F2F2F2;
}

.theme-container{
	/*background-color: green;*/
	background-color: #F2F2F2;
}

 /*custom scrollbars */
::-webkit-scrollbar {
	/*width: 8px;*/
}
::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/*border-radius: 6px;*/
}
::-webkit-scrollbar-thumb {
	/*border-radius: 5px;*/
	/*background-color: rgba(67, 120, 186, 1);*/
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-track-piece {
	/*border-radius: 6px;*/
}
